body::before {
    display: block;
    content: '';
    height: 60px;
}

@media(min-width: 768px) {
    .new-input {
        width: 85%;
    }
}

.navbar {
    font-size: 20px;
    font-weight: 400;
}

.content h1 {
    font-size: 80px;
    line-height: 80px;
    font-weight: 650;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 15s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.content p {
    font-size: 20px;
    max-width: 5000px;
    line-height: 35px;
    opacity: 0;
}

.links {
    margin-top: 20px;
    opacity: 0;
}

.btn {
    border: 1px solid #076868;
    padding: 7px 40px;
    border-radius: 20px;
    margin-right: 5px;
}



.slide-left {
    animation: slideleft 1s linear forwards;
}


@keyframes slideleft {
    0% {
        transform: translate(100px);
        opacity: 0;
    }

    100% {
        transform: translate(0px);
        opacity: 1;

    }
}

p.slide-left {
    animation-delay: 1s;

}

.links.slide-left {
    animation-delay: 2s;
}

.btn-2.slide-left {
    animation-delay: 2s;
}

.zdjkotglowna.slide-left {
    animation-delay: 0s;
    opacity: 0;
}

.przypo {
    animation: wiggle 3s linear infinite;
    animation-delay: 3s;
}

@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-6deg);
    }

    20% {
        transform: rotateZ(4deg);
    }

    25% {
        transform: rotateZ(-3deg);
    }

    30% {
        transform: rotateZ(4deg);
    }

    35% {
        transform: rotateZ(-2deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

.container-1 {
    position: static;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    
}

.container-1 h4{
    font-size: 30px;
    font-weight: 600;
}

.container-1 a{
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 400;
}

.container-1 p{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 25px;
}
.container-1 i{
    font-size: 60px;
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400;700&display=swap');


.hidden{
opacity: 0;
filter: blur(5px);
transform: translateX(-100%);
transition: all 1s;
}

.show{
 opacity: 1;
 filter: blur(0);
 transform: translateX(0);
}

.hit{
opacity: 0;
filter: blur(5px);
transform: translateX(100%);
transition: all 2s;

}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
   }
   